<article class="card pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
  <a class="card__thumb" href="{{ .Permalink }}">
    <img src='{{ if and (.Params.image) (ne .Params.image "") }}{{ .Params.image }}{{ else }}{{ "image/theme/og.png" | absURL }}{{ end }}' alt="">
  </a>
  <a href="{{ .Permalink }}">
    <h3>{{ .Title }}</h3>
  </a>
  <span>
    <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "2006.01.02" }}</time>
  </span>
  <a style="float:right;" href="{{ .Params.album }}">Link to album</a><!-- TODO align this right -->
  <p >{{ if .IsPage }}{{slicestr .Summary 0 200}}...{{ else }}{{ .Site.Params.description }}{{ end }}</p>
</article>
