<footer class="footer">
  <section class="author">
    <h2>Author</h2>
    <div class="pure-g">
      <div class="author__image pure-u-1-5 pure-u-md-1-8">
        <img src='{{ "favicon.png" | absURL }}' alt="">
      </div>
      <div class="author__info pure-u-4-5 pure-u-md-7-8">
        {{ if and (.Site.Author.author) (ne .Site.Author.author "") }}
        <h3>{{ .Site.Author.author }}</h3>
        {{ else }}
        <h3>Your Name</h3>
        {{ end }}
        {{ if and (.Site.Author.profile) (ne .Site.Author.profile "") }}
        <p>{{ .Site.Author.profile }}</p>
        {{ else }}
        <p>I am a frontend engineer working in Sendai City, Japan.</p>
        {{ end }}
         </div>
    </div>
  </section>
  <small>©{{ .Site.Title }}</small>
</footer>
