<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
{{ partial "head" . }}
<body>
  <div id="wrap" class="wrap">
    <div style="position: absolute;">
        {{ range $.Site.Home.AllTranslations }}
        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
    </div>
    {{ partial "header" . }}
    <main class="main">
      <section class="articles">
          {{ range .Pages.GroupBy "Section" }}
          <h1 id="{{ .Key }}">{{ T .Key }}</h1>
              {{ range .Pages.GroupByPublishDate "Jan 2006" }}
              <div>
                <h2>{{ .Key }}</h2>
                <div class="pure-g">
                    {{ range .Pages }}
                      {{ .Render "li" }}
                    {{ end }}
                </div>
              </div>
              {{ end }}          
          {{ end }}        
      </section>
    </main>
    {{ partial "footer" . }}
  </div>
{{ partial "js" . }}
</body>
</html>
